@import '../../styles/variables.scss';

.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 20px;
  padding: 30px 0;

  @media (min-width: $BP3-min) {
    grid-template-columns: repeat(2, calc(98% / 2));
    gap: 20px 2%;
  }
}
