@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.root {
  @include typo_copy;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  height: 100%;
  padding: 20px 0;
}

.author {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.username {
  @include typo_textM;
  margin-top: 8px;
  margin-left: 8px;
}

.title {
  @include typo_h2;
  display: inline-block;
  margin-bottom: 20px;
  flex-grow: 1;
}

.date {
  @include typo_textS;
  display: inline-block;
  margin-bottom: 20px;
}

.rating {
  display: flex;
  align-items: center;
}

.userIcon {
  width: 20px;
  height: 20px;
}

.score {
  @include typo_textS;
  margin-top: 5px;
  margin-left: 7px;
}

.button {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 15px;
  transition: transform .3s ease;

  & svg {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  &:hover {
    transform: scale(120%);
    transition: transform .3s ease;
  }
}
