$color_white: #FFF;
$color_black: #000;

$BP-hover: 1024px;

$BP1-max: 767px;
$BP2-min: 768px;
$BP2-max: 1023px;
$BP3-min: 1024px;
$BP3-max: 1299px;
$BP4-min: 1300px;
$BP4-max: 1919px;
$BP5-min: 1920px;
$BP5-max: 2500px;
