@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.root {
  margin: 0 50px;

  @media (min-width: $BP3-min) {
    margin: 0 100px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  }

.backButton {
  cursor: pointer;
  padding: 40px 0;
  transition: transform .3s ease;

  &:hover {
    transform: scale(110%);
    transition: transform .3s ease;
  }
}
