@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.root {
  margin: 0 50px;

  @media (min-width: $BP3-min) {
    margin: 0 100px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  @include typo_h1;
  padding: 40px 0;
}
